@charset "UTF-8";

#container {
	width: 1300px;
	height: 100%;
	margin: 0 auto;
}

main{
	margin: 0;
	background-color: #fffbfb;
	height: 700px;
}

main img {
	margin-top: 20px;
	width: 1300px;
	height: 100%;
}